.vscode/
logs/
venv/
.idea/
bin_non_gitable/
alembic
kindlegen
slugify
oscillator
pyidle
source-ifort-path
local_settings.py
bin_local_settings.py
*~
*.bak
*.bin
*.ex
*.desktop
*.log
*.pyc
*.sqlite
.directory
.project
.pydevproject
.settings
noip*
