*~
*/*~
*.bak
*/*.bak
*.pyc
*/*.pyc
*.ex
*/*.ex
bin_local_settings.py
*/local_settings.py
.directory
.project
.pydevproject
.settings
*.sqlite
*/*.sqlite
*.desktop
noip*
bin_non_gitable/
oscillator
pyidle
source-ifort-path
