bin_local_settings.py
.directory
.project
.pydevproject
.settings
oscillator
pyidle
source-ifort-path
noip*
*/local_settings.py
*~
*.bak
*.bin
*.ex
*.desktop
*.pyc
*.sqlite
.idea/
.idea/*.xml
bin_non_gitable/
